/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* Custom properties */
:root {
    --background-color-white: #FFFF;
    --backgroun-color-pink: #FF6B6B;
    --background-color-grey-99: #3C3B34;
    --background-color-grey: #F6F6F4;
    --background-color-dark-grey-footer: #33322C;
    --background-color-pink-hover: #EB5A5A;
    --text-color-white: #FFFF;
    --text-color-pink: #FF6B6B;
    --text-color-grey-99: #3C3B34;
    --text-color-grey-50: #C6C5BD;
    --text-color-grey-70: #9B9A92;
}

/* fonts */
@font-face {
    font-family: "aktivGrotest-bd";
    src: url('../assets/fonts/AktivGrotesk_Bd.ttf');
}

@font-face {
    font-family: "aktivGrotest-rg";
    src: url('../assets/fonts/AktivGrotesk_Rg.ttf');
}

@font-face {
    font-family: "aktivGrotest-lt";
    src: url('../assets/fonts/AktivGrotesk_Lt.ttf');
}

@font-face {
    font-family: "playfair-regular";
    src: url('../assets/fonts/PlayfairDisplay-Regular.ttf');
}

/* UTILITY CLASSES */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

header {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    background-color: var(--background-color-white);
    z-index: 5;
}

main {
    padding: 1rem;
    padding-left: 18px;
}

button {
    border: none;
    font-family: aktivGrotest-bd, sans-serif;
    font-size: 14px;
}

/* UTILITY CLASSES END */

.logo-img {
    width: 3rem;
    cursor: pointer;
}

.logo-img-desktop {
    display: none;
    width: 4rem;
    cursor: pointer;
}

.menu-button {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    height: 2rem;
    font-family: "aktivGrotest-rg";
    font-size: 1rem;
}

.span-text-menu {
    display: flex;
    align-items: flex-end;
    margin-right: 0.5rem;
    cursor: pointer;
}

svg {
    width: 1rem;
    align-items: center;
}

/* MAIN */

/* section title */
.section-title {
    margin-top: 1rem;
    max-width: 50rem;
}

.section-title p {
    font-size: 18px;
    color: var(--text-color-grey-50);
    font-family: playfair-regular, sans-serif;
}

.section-title h1 {
    font-family: aktivGrotest-bd, sans-serif;
    color: var(--text-color-grey-99);
    font-size: 35px;
    margin-top: 1.5rem;
}

/* section title END */

/* section introduction */
.section-introduction {
    font-family: aktivGrotest-rg, sans-serif;
    color: var(--text-color-grey-99);
    font-size: 20px;
    margin-top: 1.5rem;
    line-height: 2rem;
    max-width: 50rem;
}

.ai-design-sprint-text {
    color: var(--text-color-pink);
    text-decoration: none;
}

.schedule-button {
    background-color: var(--backgroun-color-pink);
    color: var(--text-color-white);
    padding: 0.75rem 2rem;
    margin-top: 1.5rem;
    transition: ease 0.5s;
    cursor: pointer;
}

.schedule-button:hover {
    background-color: var(--background-color-pink-hover);
}

.discover-more-button {
    display: flex;
    align-items: center;
    font-family: aktivGrotest-rg, sans-serif;
    background-color: var(--background-color-white);
    color: var(--text-color-pink);
    margin-top: 1.5rem;
    transition: ease 0.5s;
    cursor: pointer;
}

.discover-more-button:hover {
    background-color: var(--backgroun-color-pink);
    color: var(--text-color-white);
}

/* icon colour changes when button hover */
.discover-more-button:hover .icon {
    stroke: var(--text-color-white);
}

.discover-more-button>svg {
    margin-left: 0.4em;
}


/* section introduction END */

.location-images {
    margin-top: 4rem;
    position: relative;
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
    max-width: 100rem;
    max-height: 40rem;
}

.location-image {
    object-fit: cover;
    width: 100%;
    scroll-snap-align: start;
    margin-right: 1rem;
}


.first-image-carousel {
    width: 80%;
}

.last-image-carousel {
    margin-right: 0;
}

/* section AI design sprint */
.section-ai-design-sprint {
    margin-top: 4rem;
    color: var(--text-color-grey-99);
}

.section-ai-design-sprint h2 {
    font-family: aktivGrotest-bd, sans-serif;
    font-size: 35px;
}

.section-ai-design-sprint>p {
    font-family: aktivGrotest-lt, sans-serif;
    font-size: 1rem;
    line-height: 2rem;
    margin: 1.5rem 0;
}

/* STEPS */
.steps-h3 {
    font-size: 1.5rem;
    font-family: aktivGrotest-bd, sans-serif;
}

.steps-container {
    margin: 1.5rem 0;
    overflow: hidden;
    position: relative;
}

.step-1-container {
    position: relative;
    transition: ease 1s;
    max-width: 35rem
}

.step-2-container,
.step-3-container,
.step-4-container,
.step-5-container {
    position: absolute;
    transform: translate(30rem);
    transition: ease 1s;
    top: 0;
    max-width: 35rem;
}

.step-title-h4 {
    font-family: aktivGrotest-bd, sans-serif;
    font-size: 1.25rem;
}

.steps-container>article>p {
    font-family: aktivGrotest-lt, sans-serif;
    font-size: 1rem;
    line-height: 2rem;
}

.step-image {
    width: 100%;
}

.step-subtitle {
    display: inline-block;
    font-family: playfair-regular, sans-serif;
    color: var(--text-color-grey-70);
    margin-bottom: 1rem;
}

.next-step-button {
    position: relative;
    background-color: var(--backgroun-color-pink);
    color: var(--text-color-white);
    padding: 0.75rem 2rem;
    margin-top: 1.5rem;
    z-index: 2;
}

/* class voor JS */
.normal-position-container {
    transform: translate(0);
}

/* class voor JS */
.left-position-container {
    transform: translate(-30rem);
}

.right-position-container {
    transform: translate(30rem);
}

.disable-button {
    opacity: 50%;
}

/* STEPS END */
/* section AI design sprint END*/

/* section cases */
.section-cases {
    margin-top: 4rem;
}

.cases-h2 {
    color: var(--text-color-grey-99);
    font-family: aktivGrotest-bd, sans-serif;
    font-size: 35px;
}

.case-item {
    position: relative;
    margin-top: 1.5rem;
}

.case-text-container {
    font-family: aktivGrotest-bd, sans-serif;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    line-height: 2rem;
    background-color: rgba(60, 59, 52, 0.3);
    width: 100%;
    max-width: 30rem;
}

.case-text-container h3 {
    color: var(--text-color-white);
    font-size: 0.9rem;
}

.case-text-container p {
    font-size: 1rem;
    color: var(--text-color-white);
}

.case-text-container button {
    background-color: var(--backgroun-color-pink);
    color: var(--text-color-white);
    padding: 0.75rem 2rem;
    font-size: 0.75rem;
    cursor: pointer;
    transition: ease 0.5s;
}

.case-text-container button:hover {
    background-color: var(--background-color-pink-hover);
}

.case-item img {
    width: 100%;
    max-width: 30rem;
    object-fit: cover;
}

/* section cases END */

/* section contact */
.section-contact {
    margin-top: 4rem;
    font-family: aktivGrotest-bd, sans-serif;
    color: var(--text-color-grey-99);
    background-color: var(--background-color-grey);
    /* standaard padding left */
    padding: 4rem 0;
    padding-left: 18px;
}

.section-contact h2 {
    font-size: 1.25rem;
}

.contact-item {
    display: flex;
    flex-direction: column;
    font-family: playfair-regular, sans-serif;
    color: var(--text-color-grey-70);
    line-height: 2rem;
    margin-top: 1.5rem;
}

.section-contact-number,
.section-contact-mail {
    font-family: aktivGrotest-bd, sans-serif;
    color: var(--text-color-grey-99);
}

/* section contact END */

/* section relatable links */
.section-related-articles {
    font-family: aktivGrotest-bd, sans-serif;
    background-color: var(--background-color-white);
    padding: 4rem 0;
    padding-left: 18px;
    line-height: 2rem;
}

.section-related-articles h2 {
    color: var(--text-color-grey-99);
    font-family: aktivGrotest-bd, sans-serif;
    font-size: 35px;
}

.section-related-article {
    margin-top: 1.5rem;
    color: var(--text-color-grey-99)
}

.section-related-article>a {
    display: flex;
    align-items: center;
    font-family: aktivGrotest-rg, sans-serif;
    color: var(--text-color-pink);
    cursor: pointer;
}

/* section relatable links END*/

/* MAIN END */

/* FOOTER */
footer {
    font-family: aktivGrotest-rg, sans-serif;
    background-color: var(--background-color-dark-grey-footer);
    color: var(--text-color-grey-50);
    padding: 0;
}

.first-footer-links {
    padding-top: 72px;
}

.section-footer {
    padding-left: 18px;
}

.footer-logo {
    width: 2.5rem;
    margin-bottom: 1rem;
}

footer section ul {
    line-height: 2.5rem;
    list-style: none;
}

footer section ul li {
    cursor: pointer;
    transition: ease 0.25s;
}

footer section ul li:hover {
    color: var(--text-color-white);
}

.footer-text-title {
    font-family: aktivGrotest-bd, sans-serif;
    color: var(--text-color-white);
    font-size: 18px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.third-footer-links-solutions {
    padding-bottom: 72px;
}

.tagline-footer {
    padding: 64px 16px;
    background-color: var(--background-color-grey-99);
    color: var(--background-color-white);
    font-family: aktivGrotest-bd, sans-serif;
}

.tagline-footer-title {
    margin-bottom: 1.5rem;
    font-size: 40px;
}

.tagline-subtitle {
    display: inline-block;
    font-family: playfair-regular, sans-serif;
    color: var(--text-color-grey-50);
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}

.tagline-footer>p {
    font-family: aktivGrotest-rg, sans-serif;
    font-size: 0.875rem;
    line-height: 34px;
}

.tagline-paragraph-text {
    font-family: aktivGrotest-bd, sans-serif;
    line-height: 2rem;
}

.credentials-footer {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-dark-grey-footer);
    font-size: 0.875rem;
    padding: 1rem;
    line-height: 2.125rem;
}

.credentials-footer-adres {
    color: var(--text-color-white);
}

.credentials-footer-bold {
    font-family: aktivGrotest-bd, sans-serif;
}

.section-footer a {
    margin-top: 1.5rem;
}

/* FOOTER END */

/* MEDIA QUERIES */

/* tablet media query */
@media screen and (min-width: 530px) {

    /* MENU */
    .logo-img {
        display: none;
    }

    .logo-img-desktop {
        display: flex;
    }

    /* MENU END */

    .section-title>h1 {
        font-size: 3rem;
        width: 80%;
    }

    .section-introduction {
        font-size: 1.5rem;
        width: 80%;
        margin-left: 7.5rem;
    }

    .buttons {
        display: flex;
        margin-left: 7.5rem;
    }

    .discover-more-button {
        margin-left: 2rem;
    }

    /* ai design sprint */
    .section-ai-design-sprint>p {
        font-size: 1.125rem;
    }

    /* ai design sprint end */

    /* STEPS */

    .steps-h3 {
        font-size: 1.75rem;
    }

    .step-subtitle {
        font-size: 1.125rem;
    }

    .step-title-h4 {
        font-size: 1.375rem;
    }

    .step-title-h4>p {
        font-size: 2rem
    }

    .steps-container>article>p {
        font-size: 1.125rem;
    }

    .next-step-button {
        display: none;
    }

    .steps-container {
        display: flex;
        flex-direction: column;
    }

    .step-1-container,
    .step-2-container,
    .step-3-container,
    .step-4-container,
    .step-5-container {
        display: flex;
        flex-direction: column;
        position: relative;
        transform: translate(0);
        margin-top: 1.5rem;
        align-self: flex-start;
    }

    .step-1-container {
        margin-top: 0;
    }

    .step-1-container,
    .step-3-container,
    .step-5-container {
        margin-right: 10rem;
    }

    .step-2-container,
    .step-4-container {
        margin-left: 10rem;
        align-self: flex-end;
    }

    /* STEPS END */

    .section-title p {
        font-size: 1.5rem;
    }

    /* cases */
    .cases-tablet {
        display: flex;
    }

    .tablet-ruler-ai-case {
        margin-right: 1.125rem;
    }

    .case-text-container>h3 {
        font-size: 1rem;
    }

    .case-text-container>p {
        font-size: 1.125rem
    }

    .case-text-container>button {
        font-size: 0.875rem;
    }

    /* cases end */

    /* contact */
    .section-contact>h2 {
        font-size: 1.75rem;
    }

    /* contact end */

    /* read more */
    .section-related-article>h3 {
        font-size: 1.25rem;
    }

    .section-related-article>a {
        font-size: 1.125rem;
    }

    /* read more end */

    /* footer */
    .tablet-footer-first {
        display: flex;
    }

    .section-footer-tablet {
        padding-left: 0;
        padding-top: 4.5rem;
        flex-grow: 2;
    }

    .first-footer-links {
        flex-grow: 3;
    }

    .footer-title-services-tablet {
        margin-top: 0;
    }

    .third-footer-links-solutions>ul {
        display: flex;
    }

    .tablet-footer-solutions-first-part {
        flex-grow: 3;
    }


    .tablet-footer-solutions-second-part {
        flex-grow: 2.5;
    }

    /* footer end */

    /* tagline */
    .tagline-footer-title {
        font-size: 3.5rem;
    }

    .tagline-subtitle {
        font-size: 1.375rem;
    }

    .tablet-tagline-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-left: 19em;
    }

    /* tagline end */

}

/* tablet media query end */

/* desktop media query */
@media screen and (min-width: 1020px) {
    main {
        margin-left: 18rem;
    }

    /* introduction */

    .section-title>h1 {
        /* width: 60%; */
        font-size: 3.5rem;
    }

    .section-introduction {
        /* width: 60%; */
        margin-left: 24rem;
        font-size: 1.625rem;
    }

    .buttons {
        margin-left: 24rem;
    }

    .discover-more-button {
        padding: 0.75rem 2rem;
    }

    /* introduction END */

    .location-images {
        margin-top: 7.5rem;
    }

    /* ai design sprint */
    .section-ai-design-sprint {
        margin-right: 18rem;
        margin-top: 7.5rem;
    }

    .section-ai-design-sprint>h2 {
        font-size: 3.5rem
    }

    .section-ai-design-sprint>P {
        font-size: 1.25rem;
        width: 90%;
    }

    /* ai design sprint END */

    /* STEPS */
    .steps-h3 {
        font-size: 2rem;
    }

    .step-subtitle {
        font-size: 1.5rem;
    }

    .step-title-h4 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .steps-container>article>p {
        font-size: 1.25rem;
    }

    .step-1-container {
        display: flex;
    }

    .step-1-container,
    .step-2-container,
    .step-3-container,
    .step-4-container,
    .step-5-container {
        max-width: 40rem;
    }

    /* STEPS END */

    /* CASES */
    .cases-h2 {
        font-size: 3.5rem;
    }

    .section-cases {
        margin-right: 18rem;
    }

    .case-text-container,
    .case-item img {
        max-width: 45rem;
    }

    .case-text-container p {
        font-size: 1.5rem;
        width: 70%;
    }

    /* CASES END */

    /* CONTACT */
    .contact-info-desktop {
        margin-left: 18rem;
    }

    .contact-info-desktop>h2 {
        font-size: 2rem;
    }

    .contact-item {
        font-size: 1.25rem;
    }

    /* CONTACT END */

    /* READ MORE RELATED ARTICLES */
    .section-related-articles {
        margin: 0 18rem;
    }

    .section-related-articles>h2 {
        font-size: 2rem;
    }

    .flex-desktop-related-articles {
        display: flex;
    }

    .section-related-article {
        flex-grow: 2;
    }

    /* READ MORE END */

    /* FOOTER */
    .footer {
        margin-right: 18rem;
    }

    .flex-desktop-footer-links {
        display: flex;
        margin-right: 18rem;
        padding-bottom: 4.5rem;
    }

    .first-footer-links {
        margin-left: 18rem;
    }

    .tablet-footer-first {
        flex-grow: 1;
    }

    .third-footer-links-solutions {
        flex-grow: 1;
    }

    .footer-text-title {
        margin: 0;
    }

    .third-footer-links-solutions {
        padding-top: 4.5rem;
        padding-left: 0;
    }

    /* tagline footer */
    .tagline-container-desktop {
        margin-left: 18rem;
    }

    .tagline-footer-title {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .tagline-subtitle {
        margin-left: 18rem;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .desktop-tagline-content {
        margin-left: 35rem;
    }

    /* tagline footer END */

    /* credentials footer */
    .credentials-footer {
        margin: 0 18rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .credentials-footer-adres,
    .desktop-credentials {
        flex-grow: 0.5;
    }

    .credentials-footer>a {
        text-align: end;
        margin-top: 0;
        flex-grow: 3;
        align-self: flex-end;
    }

    /* credentials footer END */

    /* FOOTER END */

}

/* desktop media query end */

/* MEDIA QUERIES END */